{% extends 'base.html' %}

{% block content %}
<div class="message-box">
  <h2>Chat Room: {{ code }}</h2>

  <div class="messages" id="messages"></div>

  <div class="inputs">
    <input
      type="text"
      placeholder="Type your message..."
      name="message"
      id="message"
      autocomplete="off"
    />

    <button type="button" name="send" id="send-btn" onclick="sendMessage()">
      Send
    </button>
  </div>
</div>

<script type="text/javascript">
  const socketio = io();
  const messages = document.getElementById("messages");
  const messageInput = document.getElementById("message");

  const createMessage = (name, msg) => {
    const content = `
      <div class="text">
        <span>
          <strong>${name}</strong>: ${msg}
        </span>
        <span class="muted">
          ${new Date().toLocaleTimeString()}
        </span>
      </div>
    `;

    messages.innerHTML += content;
    messages.scrollTop = messages.scrollHeight;
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = () => {
    const message = messageInput.value.trim();

    if (message === "") return;

    socketio.emit("message", { data: message });
    messageInput.value = "";
  };

  messageInput.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      sendMessage();
    }
  });
</script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{ msg.name }}", "{{ msg.message }}");
</script>
{% endfor %}

{% endblock %}